@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
  }
  
  .header {
    margin: 0;
  }

body{
    background-color: #153448;
    font-family: "Reddit Sans", sans-serif;
}
/* """"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""" */
nav{
    position: fixed;
    top: -10vh;
    width: 100%;
    display: flex;
    background-color: #3C5B6F;
    height: 10vh;
    border-radius: 0 0 10px 10px;
    align-items: center;
    top: -10vh;
    transition: top 0.9s;
}

    .title{
        display: flex;
        align-items: center;
    }

        .title p{
            font-size: 30px;
            font-weight: bold;
            color: white;
        }

/*""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

.content{
    padding-top: 10vh;
}

#toolbar{
    display: block;
    margin: auto;
    text-align: center;
}

    .toolBtn{
        padding: 20px;
        border-radius: 10px;
        border: 0;
        font-weight: bold;
        background-color: #948979;
        margin: 20px 20px 0px 20px;
        width: 200px;
        color: white;
    }
    
    .toolBtn:active {
        box-shadow: 0 5px #666;
        transform: translateY(4px);
      }


    .palette{
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
        column-gap: 10px;
        width: 30vw;
        height: 20vh;
        padding: 10px;
        margin: 40px auto 50px auto;
        border-radius: 10px;
        background-color: #EADBC8;
        }


        
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 1 / 2 / 2 / 3; }
        .div3 { grid-area: 1 / 3 / 2 / 4; }
        .div4 { grid-area: 1 / 4 / 2 / 5; }
        .div5 { grid-area: 1 / 5 / 2 / 6; }
        .div6 { grid-area: 2 / 1 / 3 / 2; }
        .div7 { grid-area: 2 / 2 / 3 / 3; }
        .div8 { grid-area: 2 / 3 / 3 / 4; }
        .div9 { grid-area: 2 / 4 / 3 / 5; }
        .div10 { grid-area: 2 / 5 / 3 / 6; display: flex; justify-content: center; align-items: center;}

        svg:has(.color-picker){
            max-width: 90%;
        }

        #palette-design-hole{
            max-width: 70%;            
        }

            #palette-design-hole svg {
                width: 100%; 
                height: auto; 
                display: block;
            }

            

        svg:has(.color-picker:hover){
            position: relative;
            top: -5px;
            filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
            /* #1 self note: needs to be done this way since svg has a bigger square-like hitbox
                so if I want the hover effect to be displayed exatcly when mouse is over the shape then I need to set te hover effect on the
                color-picker (path - whcih is the actual shape)
                
                # self note: because position and top have no effect on <path>, in order for the effect to be displayed I needed to apply it
                    to the parent (svg) but only when the color-picker (<path>) is hovered*/
        }

        


#canvas{
    margin: auto;
    width: 70vw;
}

    #space{
        background-color: white;
        height: 300px;
        border-radius: 8px;
    }

    .star{
        width: 10px;
        height: 10px;
        background-color: aqua;
        border-radius: 50%;
    }

hr{
    width: 0;
    height: 5px;
    background-color: #DFD0B8;
    border: 0;
    border-radius: 30px;
    transition: width 1s ease;
}