@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

html, body {
    padding: 0;
    margin: 0;
  }
  
  .header {
    margin: 0;
  }

body{
    background-color: #B5C18E;
    font-family: "Reddit Sans", sans-serif;
}

.title{
    display: flex;
    align-items: center;
}

.parent {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    border: 3px solid black;
    width: 30vw;
    margin: auto;
    align-items: center;

    }

    .parent div{
        aspect-ratio: 1;
    }
    
    .div1 { grid-area: 1 / 1 / 3 / 2; padding: 20px; border-radius: 50%; background-color: blue; }
    .div2 { grid-area: 1 / 2 / 3 / 3; padding: 20px; border-radius: 50%; background-color: red;}
    .div3 { grid-area: 1 / 3 / 3 / 4; padding: 20px; border-radius: 50%; background-color: green;}
    .div4 { grid-area: 1 / 4 / 3 / 5; padding: 20px; border-radius: 50%; background-color: yellow;}
    .div5 { grid-area: 3 / 1 / 5 / 2; padding: 20px; border-radius: 50%; background-color: purple;}
    .div6 { grid-area: 3 / 2 / 5 / 3; padding: 20px; border-radius: 50%; background-color: white;}
    .div7 { grid-area: 3 / 3 / 5 / 4; padding: 20px; border-radius: 50%; background-color: black;}
    .div8 { grid-area: 3 / 4 / 5 / 5; padding: 20px; border-radius: 50%; background-color: brown;}
    .div9 { grid-area: 2 / 5 / 4 / 6; padding: 20px; border-radius: 50%; background: rgb(131,58,180);
        background: linear-gradient(236deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);}

    :where(.div1,.div2,.div3,.div4,.div5,.div6,.div7,.div8,.div9):hover{
        box-shadow: 0px 0px 66px 1px rgba(0,0,0,0.75);
        position: relative;
        top: -5px;
    }

#canvas{
    margin: auto;
    width: 70vw;
}

    #space{
        background-color: white;
        height: 300px;
        border-radius: 8px;
    }


.star{
    width: 10px;
    height: 10px;
    background-color: aqua;
    border-radius: 50%;
}

button{
    padding: 20px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    background-color: #F1F1F1;
}

nav{
    background-color: #EADBC8;
    height: 10vh;
    border-radius: 0 0 10px 10px;
}

    .title{
        vertical-align: middle;
    }

hr{
    width: 60vw;
    height: 5px;
    background-color: #EADBC8;
    border: 0;
    border-radius: 30px;
}


    